<!DOCTYPE html>
<html>
<head>
  <title>Ranten</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap", media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
</head>

<body>
  <div class="columns is-gapless">
    <% if current_user %>

    <%= render 'users/profile' %>
    <div class="column">
      <%= render 'layouts/navigation' %>

      <% if notice.present? %>
      <div class="notice" id="notice">
        <p> <%= notice %> </p>
      </div>
      <% end %>
      <% if alert.present? %>
      <div class="alert" id="alert">
        <p> <%= alert %> </p>
      </div>
      <% end %>

      <%= yield %>
    </div>
    <% else %>
    <div class="column has-background-white">
      <%= render 'layouts/navigation' %>

      <% if notice.present? %>
      <div class="notice" id="notice">
        <p> <%= notice %> </p>
      </div>
      <% end %>
      <% if alert.present? %>
      <div class="alert" id='alert'>
        <p> <%= alert %> </p>
      </div>
      <% end %>

      <%= yield %>
    </div>
    <% end %>
  </div>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>
</html>
